.dxGridView_gvCollapsedButton_grid,
.dxGridView_gvExpandedButton_grid,
.dxGridView_gvDetailCollapsedButton_grid,
.dxGridView_gvDetailExpandedButton_grid,
.dxGridView_gvFilterRowButton_grid,
.dxGridView_gvHeaderFilter_grid,
.dxGridView_gvHeaderFilterActive_grid,
.dxGridView_gvHeaderSortDown_grid,
.dxGridView_gvHeaderSortUp_grid,
.dxGridView_gvDragAndDropArrowDown_grid,
.dxGridView_gvDragAndDropArrowUp_grid,
.dxGridView_gvDragAndDropHideColumn_grid,
.dxGridView_gvParentGroupRows_grid,
.dxGridView_WindowResizer_grid 
{
    background-image: url('grid_sprites.png');
    -background-image: url('grid_sprites.png'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxGridView_gvCollapsedButton_grid {
    background-position: -36px 0px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvExpandedButton_grid {
    background-position: -36px -18px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvDetailCollapsedButton_grid {
    background-position: -53px 0px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvDetailExpandedButton_grid {
    background-position: -53px -18px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvFilterRowButton_grid {
    background-position: -100px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvHeaderFilter_grid {
    background-position: 0px -36px;
    width: 15px;
    height: 17px;
}

.dxGridView_gvHeaderFilterActive_grid {
    background-position: -23px -36px;
    width: 15px;
    height: 16px;
}

.dxGridView_gvHeaderSortDown_grid {
    background-position: -19px 0px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvHeaderSortUp_grid {
    background-position: -19px -18px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvDragAndDropArrowDown_grid {
    background-position: 0px 0px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropArrowUp_grid {
    background-position: 0px -17px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropHideColumn_grid {
    background-position: -70px 0px;
    width: 22px;
    height: 22px;
}

.dxGridView_gvParentGroupRows_grid {
    background-position: -70px -36px;
    width: 18px;
    height: 13px;
}

.dxGridView_WindowResizer_grid {
    background-position: -46px -36px;
    width: 16px;
    height: 16px;
}

/* ASPxPager */
.dxWeb_rpHeaderTopLeftCorner_grid,
.dxWeb_rpHeaderTopRightCorner_grid,
.dxWeb_rpBottomLeftCorner_grid,
.dxWeb_rpBottomRightCorner_grid,
.dxWeb_rpTopLeftCorner_grid,
.dxWeb_rpTopRightCorner_grid,
.dxWeb_rpGroupBoxBottomLeftCorner_grid,
.dxWeb_rpGroupBoxBottomRightCorner_grid,
.dxWeb_rpGroupBoxTopLeftCorner_grid,
.dxWeb_rpGroupBoxTopRightCorner_grid,
.dxWeb_mHorizontalPopOut_grid,
.dxWeb_mVerticalPopOut_grid,
.dxWeb_mSubMenuItem_grid,
.dxWeb_mSubMenuItemChecked_grid,
.dxWeb_nbCollapse_grid,
.dxWeb_nbExpand_grid,
.dxWeb_splVSeparator_grid,
.dxWeb_splVSeparatorHover_grid,
.dxWeb_splHSeparator_grid,
.dxWeb_splHSeparatorHover_grid,
.dxWeb_splVCollapseBackwardButton_grid,
.dxWeb_splVCollapseBackwardButtonHover_grid,
.dxWeb_splHCollapseBackwardButton_grid,
.dxWeb_splHCollapseBackwardButtonHover_grid,
.dxWeb_splVCollapseForwardButton_grid,
.dxWeb_splVCollapseForwardButtonHover_grid,
.dxWeb_splHCollapseForwardButton_grid,
.dxWeb_splHCollapseForwardButtonHover_grid,
.dxWeb_pcCloseButton_grid,
.dxWeb_pcSizeGrip_grid,
.dxWeb_pAll_grid,
.dxWeb_pAllDisabled_grid,
.dxWeb_pPrev_grid,
.dxWeb_pPrevDisabled_grid,
.dxWeb_pNext_grid,
.dxWeb_pNextDisabled_grid,
.dxWeb_pLast_grid,
.dxWeb_pLastDisabled_grid,
.dxWeb_pFirst_grid,
.dxWeb_pFirstDisabled_grid {
    background-image: url('pager_sprites.png');
    -background-image: url('pager_sprites.png'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxWeb_rpHeaderTopLeftCorner_grid {
    background-position: -104px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpHeaderTopRightCorner_grid {
    background-position: -117px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomLeftCorner_grid {
    background-position: -78px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomRightCorner_grid {
    background-position: -91px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopLeftCorner_grid {
    background-position: -52px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopRightCorner_grid {
    background-position: -65px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_grid {
    background-position: -26px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomRightCorner_grid {
    background-position: -39px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopLeftCorner_grid {
    background-position: 0px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopRightCorner_grid {
    background-position: -13px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_mHorizontalPopOut_grid {
    background-position: -92px -50px;
    width: 5px;
    height: 3px;
}

.dxWeb_mVerticalPopOut_grid {
    background-position: -105px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mSubMenuItem_grid {
    background-position: -48px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_mSubMenuItemChecked_grid {
    background-position: -70px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_nbCollapse_grid {
    background-position: -129px 0px;
    width: 13px;
    height: 15px;
}

.dxWeb_nbExpand_grid {
    background-position: -129px -23px;
    width: 13px;
    height: 15px;
}

.dxWeb_splVSeparator_grid {
    background-position: -92px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splVSeparatorHover_grid {
    background-position: -99px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splHSeparator_grid {
    background-position: -58px -74px;
    width: 18px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_grid {
    background-position: -58px -81px;
    width: 18px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_grid {
    background-position: -30px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_grid {
    background-position: -37px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_grid {
    background-position: 0px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_grid {
    background-position: 0px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_grid {
    background-position: -44px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_grid {
    background-position: -51px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_grid {
    background-position: -15px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_grid {
    background-position: -15px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_pcCloseButton_grid {
    background-position: 0px -50px;
    width: 15px;
    height: 14px;
}

.dxWeb_pcSizeGrip_grid {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxWeb_pAll_grid {
    background-position: 0px 0px;
    width: 21px;
    height: 17px;
}

.dxWeb_pAllDisabled_grid {
    background-position: 0px -25px;
    width: 21px;
    height: 17px;
}

.dxWeb_pPrev_grid {
    background-position: -105px 0px;
    width: 16px;
    height: 17px;
}

.dxWeb_pPrevDisabled_grid {
    background-position: -105px -25px;
    width: 16px;
    height: 17px;
}

.dxWeb_pNext_grid {
    background-position: -81px 0px;
    width: 16px;
    height: 17px;
}

.dxWeb_pNextDisabled_grid {
    background-position: -81px -25px;
    width: 16px;
    height: 17px;
}

.dxWeb_pLast_grid {
    background-position: -55px 0px;
    width: 18px;
    height: 17px;
}

.dxWeb_pLastDisabled_grid {
    background-position: -55px -25px;
    width: 18px;
    height: 17px;
}

.dxWeb_pFirst_grid {
    background-position: -29px 0px;
    width: 18px;
    height: 17px;
}

.dxWeb_pFirstDisabled_grid {
    background-position: -29px -25px;
    width: 18px;
    height: 17px;
}

